################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BadgerCore/bin/
/BadgerCore/obj/
/BadgerRunner/obj/
/BadgerRunner/bin/
/BadgerTests/bin/
/BadgerTests/obj/
/Faker/bin/
/Faker/obj/
*.suo
/bin
/packages
/.vs/

